div
{
	width:300px ;
	background:#DDD ;
	padding:10px ;
	margin:10px ;
	float:left ;
}
.visible
{
	visibility:hidden; /* this will hidden && ==> [ booking his place in the workflow ] */
}
/*
	visibility:visible; this is A Defulte Value


	dispaly:none;  ======>  this will hidden && ==> [ { Not } booking his place in the workflow ]
*/