*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body
{
	perspective: 600px
}

.one
{
	width:300px ;
	height:300px ;
	margin:50px auto ;
	background:#f00 ;
	transition: all 1s ease-in-out;
}

.one:hover
{
	transform: rotate(300deg);
	transform-origin: bottom left; /* this is main the angle that the transform: rotate(300deg); will do on it */
}


.father
{
	width:300px ;
	height:300px ;
	margin:50px auto ;
	background:#040 ;
	position: relative;
	transition: all 1s ease-in-out;
	transform: rotateY(45deg);
	transform-style:preserve-3d; /* this will do activate for Elment that in father class */
}

.child1
{
	width:300px ;
	height:300px ;
	margin:50px auto ;
	background:#f00 ;
	position: absolute;
	top: 30px;
	left:30px;
	transform: translateZ(50px) rotateY(45deg);
}

.child2
{
	width:300px ;
	height:300px ;
	margin:50px auto ;
	background:#00f ;
	position: absolute;
	top: 30px;
	left:30px;
	transform: translateZ(250px) rotateX(15deg);
}