*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

div
{
	width:150px ;
	height: 100px;
	margin: 50px auto;
	background-color:#f00 ;
	padding: 10px;
	color: #fff;
	text-align: center;
	transition-property:width, background-color, height, font-size ; /* defulte value ====> [all] */

	transition-duration:1.5s ,  3s,  2s,  1.5s ; 					/* defulte value ====> [ 0s ]> */
  
}

div:hover
{
	width: 600px;
	height: 300px;
	font-size: 40px;
	text-align: center;
	background-color: #00f
}

/* this website for check transition CSS ====> [ CSS Animated Properties MDN ] */



/* Transition: <Property> | <Duration> | <Timing Function> | <Delay> ; */