div
{
	background:#eee ;
	padding:10px ;
	border:1px solid #ccc ;
	font-family:Arial, Tahoma ;
	width:300px;
	margin: 100px auto;
	text-align: center; 
}

div:hover
{
	transform: rotate(45deg);
}