body
{
	text-align: center;
}

.grid-container
{
	display: grid;
	grid-template-columns:repeat(3 , 1fr);
/*	grid-column-gap: 20px;
	grid-row-gap: 20px;*/
	grid-gap: 20px 50px;
	/*grid-gap: space_of_row space_of_column;*/
}

.grid-container > .item
{
	padding: 30px;
	background-color: #333;
	color: #fff;
	margin: 5px 0;
}
