*
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.container
{
	width:400px ;
	background:#eee ;
	padding:10px ;
	margin:100px auto ;
	border:1px solid #ccc ;
	height:200px ;

}

.scale
{
	background:#080 ;
	color:#fff ;
	text-align:center;
	height:180px ;
	
}

.scale:hover
{
	-webkit-transform: scale(2,2);
	transform: scale(2,2);
}

/*
	scale(width , height)

	scale(2) 	==== scale(2,2)  && width X 2 , height X 2

	scaleX(2)   ==== scale(2,1)  ===> this in width

	scaleY(2)   ==== scale(1,2)  ===> this in height


	transform:none;

*/