ul
{
	list-style-type: upper-armenian;
	list-style-position: outside;
	list-style-image: url('');
	list-style:disc inside url(''); /* list-style:type position image; */
}

ul li
{
	border:1px solid red;
}